body {
    background-color: rgb(179, 169, 189);
    display: flexbox;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#caption {
    position: sticky;
    padding-top: 20px;
    padding-left: 45vw;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    height: 5vh;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
}

#row-1 {
    display: flexbox;
    flex-direction: row;
}

.empty {
    background-color: #ffffff;
    border: 5px solid #000000;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    height: 10vh;
    width: 10vh;
    padding: 0;
}

.krzyzyk {
    background-color: #ffffff;
    border: 5px solid #000000;
    cursor: pointer;
    font-family: Arial;
    font-size: 4rem;
    height: 10vh;
    width: 10vh;
    padding: 0;
    color: rgb(34, 255, 0);
    margin: 2px;
    text-align: center;
}

.kolo {
    background-color: #ffffff;
    border: 5px solid #000000;
    cursor: pointer;
    font-family: Arial;
    font-size: 4rem;
    height: 10vh;
    width: 10vh;
    padding: 0;
    color: rgb(255, 0, 0);
    margin: 2px;
    text-align: center;
}

.winning {
    background-color: #450000;
    border: 5px solid #000000;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    height: 10vh;
    width: 10vh;
    padding: 0;
}

#board {
    border: 2px solid red;
    display: flex;
}